.App {
  background: #20232a;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  div {
    flex: 1 1 0;
  }
  @media only screen and (max-width: 960px) {
    div {
      flex: 1 1 600px;
    }
  }
}
