.Editor {
  background: #fff;
  p {
    margin: 0;
  }
  .edit-box {
    border: 1px solid #000;
    margin: 25px 12px 25px 24px;
    height: 90%;
    min-height: 350px;
    min-width: 190px;
    background-color: #282c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 960px) {
      margin: 10px;
      height: 390px;
      min-height: 50vh;
    }
    .controls {
      padding: 8px;
      background-color: #20232a;
      border-bottom: 1px solid #000;
      flex: 0 0 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .edit-btn {
        width: 36px;
        height: 36px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: #d1d5da;
        margin: 2px;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
        h3 {
          margin: 0;
          font-size: 14px;
        }
        svg {
          margin-top: 5px;
          height: 18px;
          width: 18px;
        }
      }
      @media only screen and (max-width: 1160px) {
        padding: 0 4px;
        .edit-btn {
          width: 28px;
          height: 28px;
          h3 {
            font-size: 12px;
          }
          svg {
            margin-top: 3px;
            height: 15px;
            width: 15px;
          }
        }
      }
      @media only screen and (max-width: 465px) {
        flex: 0 0 70px;
        padding: 0 4px;
        flex-wrap: wrap;
        .edit-btn {
          margin: 2px 6px;
        }
      }
      @media only screen and (max-width: 330px) {
        .edit-btn {
          margin: 2px 2px;
        }
      }
      @media only screen and (max-width: 270px) {
        flex: 0 0 98px;
      }
    }
    .markdown-input {
      box-sizing: border-box;
      width: 100%;
      background-color: #282c34;
      padding: 20px;
      flex: 1;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      resize: none;
      border: none;
      &:focus {
        outline: none;
        border: 1px solid #d1d5da;
      }
    }
    .bottom-options {
      flex: 0 0 22px;
      display: flex;
      justify-content: center;
      margin: 0 4px;
      padding: 4px 0;
      background-color: #20232a;
      button:nth-of-type(2) {
        margin-left: auto;
        margin-right: 4px;
      }
      button {
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(0, 0, 0, 0);
        color: #d1d5da;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
